# 4.3 데이터셋을 훈련 데이터셋과 테스트 데이터셋으로 나누기

### **Wine 데이터셋**<br>
UCI 머신 러닝 저장소에 공개되어 있는 데이터셋이다.<br>
https://archive.ics.uci.edu/ml/datasets/Wine<br><br>

178개의 와인 샘플과 화학 성분을 나타내는 13개의 특성으로 구성되어 있다.

In [8]:
import pandas as pd
import numpy as np

In [9]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                      'ml/machine-learning-databases/'
                      'wine/wine.data', header=None)
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium',
                   'Total phenols', 'Flavanoids',
                   'Nonflavanoid phenols',
                   'Proanthocyanins',
                   'Color intensity', 'Hue',
                   'OD280/OD315 of diluted wines',
                   'Proline']
print('클래스 레이블', np.unique(df_wine['Class label']))

클래스 레이블 [1 2 3]

샘플은 1, 2, 3 세 개의 클래스 중 하나에 속한다.<br>

이탈리아의 동일한 지역에서 자랐지만, 세 종류는 모두 다른 와인 포도 품종이다. <br>(자세한 내용은 https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.names 를 참고하면 된다.)

In [10]:
df_wine

     Class label  Alcohol  ...  OD280/OD315 of diluted wines  Proline
0              1    14.23  ...                          3.92     1065
1              1    13.20  ...                          3.40     1050
2              1    13.16  ...                          3.17     1185
3              1    14.37  ...                          3.45     1480
4              1    13.24  ...                          2.93      735
..           ...      ...  ...                           ...      ...
173            3    13.71  ...                          1.74      740
174            3    13.40  ...                          1.56      750
175            3    13.27  ...                          1.56      835
176            3    13.17  ...                          1.62      840
177            3    14.13  ...                          1.60      560

[178 rows x 14 columns]

사이킷런의 ```model_selection``` 모듈에 있는 **```train_test_split``` 함수**를 사용하면 간편하게 **랜덤한 훈련 데이터셋**과 **테스트 데이터셋**으로 나눌 수 있다.

In [11]:
from sklearn.model_selection import train_test_split
X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values
X_train, X_test, y_train, y_test =\
    train_test_split(X, y,
                     test_size=0.3,
                     random_state=0,
                     stratify=y)

인덱스 1부터 13까지의 **특성**은 넘파이 배열로 변환하여 **변수 ```X```**에 할당한다.<br>
인덱스가 0인 첫 번째 열은 **클래스 레이블**이므로 **변수 ```y```**에 할당한다.<br><br>

**```train_test_split``` 함수**를 사용하여 X와 y를 랜덤하게 **훈련 데이터셋과 테스트 데이터셋으로 분할**한다.<br>
```test_size=0.3```으로 지정했기 때문에 샘플의 30%가 ```test_X```와 ```test_y```에 할당된다.<br>
나머지 샘플 70%는 ```X_train```과 ```y_train```에 할당된다.<br><br>

**```stratify``` 매개변수**에 클래스 레이블 배열 y를 전달하면 훈련 데이터셋과 테스트 데이터셋에 있는 **클래스 비율이 원본 데이터셋과 동일하게 유지**된다.

### **훈련 데이터셋과 테스트 데이터셋의 적절한 비율**

**실전**에서 가장 많이 사용하는 비율
- 60 : 40
- 70 : 30
- 80 : 20

<br>

**대용량 데이터셋**의 경우 **90 : 10** 또는 **99 : 1**의 비율로 나누기도 한다.<br>
데이터셋에 **10만 개 이상**의 훈련 샘플이 있다면 일반화 성능을 잘 추정하기 위해 **1만 개의 샘플만** 테스트로 떼어 놓아도 괜찮다.<br><br>

테스트 데이터셋을 **훈련과 평가 후**에 전체 데이터셋으로 **모델을 다시 훈련**하는 방법도 많이 사용된다.<br>
하지만 데이터셋이 **작고 이상치가 들어 있는 경우** 성능은 오히려 **나빠질 수도** 있다.